## Kohl's

Reading data

In [171]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
plt.style.use('ggplot')

In [147]:
kohls = pd.read_csv('kohls.csv', header=None, names=['product_name', 'sale_price', 'regular_price'])

In [148]:
kohls.head(15)

,product_name,sale_price,regular_price
0,LC Lauren Conrad Pave Monogram ... Pendant Nec...,$9.80,Regular $14.00
1,Spiral Christmas Tree Nickel ... Free Drop Ear...,$5.40,Original $12.00
2,"Christmas Gift, Santa, ... Reindeer & Jingle B...",$6.30,Original $14.00
3,LC Lauren Conrad Filigree ... Teardrop Layered...,$12.60,Regular $18.00
4,Simulated Crystal Snowflake ... Nickel Free Dr...,$6.30,Original $14.00
5,PRIMROSE Sterling Silver Cubic ... Zirconia Lo...,$19.99,Original $50.00
6,Poinsettia Nickel Free Drop ... Earrings,$4.50,Original $10.00
7,LC Lauren Conrad Stick Linear ... Drop Earrings,$8.40,Regular $12.00
8,LC Lauren Conrad Long Spiral ... Tassel Necklace,$14.00,Regular $20.00
9,LC Lauren Conrad Freshwater ... Cultured Pearl...,$14.00,Regular $20.00
10,Silver Tone Snowman Nickel ... Free Drop Earrings,$4.50,Original $10.00
11,Holly Leaf Nickel Free Drop ... Earrings,$5.40,Original $12.00
12,Simulated Crystal Snowflake ... Nickel Free Dr...,$6.30,Original $14.00
13,\n\t\t\t\t\t\t\t\n\t\t\t\t\t\tSanta Hat Cat Dr...,$4.50,Original $10.00
14,LC Lauren Conrad Filigree ... Teardrop Earrings,$9.80,Regular $14.00

In [149]:
#remove whitespace
kohls['product_name'] = kohls['product_name'].str.strip()

In [150]:
#removing dollar sign from sale_price and converting to float
kohls['sale_price'] = kohls['sale_price'].str.replace('$', '')

In [151]:
#taking care of prices like 3-6 by taking their mean
price_sale = []
for el in kohls['sale_price']:
    if '-' in el:
        try:
            newel = (float(el.split()[0][0])+float(el.split()[0][2]))/2
            price_sale.append(newel)
        except:
            x = el.split()
            a = float(x[0])
            b = float(x[2])
            newel = (a+b)/2
            price_sale.append(newel)
    else:
        price_sale.append(el)

In [152]:
price_sale = pd.Series(price_sale).astype(float)

In [153]:
kohls.drop('sale_price', axis=1, inplace=True)

In [154]:
kohls = pd.concat([kohls, price_sale.rename('sale_price')], axis=1)

In [155]:
kohls.head()

,product_name,regular_price,sale_price
0,LC Lauren Conrad Pave Monogram ... Pendant Nec...,Regular $14.00,9.8
1,Spiral Christmas Tree Nickel ... Free Drop Ear...,Original $12.00,5.4
2,"Christmas Gift, Santa, ... Reindeer & Jingle B...",Original $14.00,6.3
3,LC Lauren Conrad Filigree ... Teardrop Layered...,Regular $18.00,12.6
4,Simulated Crystal Snowflake ... Nickel Free Dr...,Original $14.00,6.3

In [156]:
#dealing w regular_price
kohls['regular_price'] = kohls.regular_price.str.replace('Regular', '')
kohls['regular_price'] = kohls.regular_price.str.replace('Original', '')

In [158]:
kohls['sale_price'] = kohls['sale_price']

In [159]:
#taking care of prices like 3-6 by taking their mean
price_regular = []
for el in kohls['regular_price']:
    if '-' in el:
        try:
            newel = (float(el.split()[0][0])+float(el.split()[0][2]))/2
            price_regular.append(newel)
        except Exception as e:
            print(e)
            print(el)
            el = el.replace('$', '')
            x = el.split()
            a = float(x[0])
            b = float(x[2])
            newel = (a+b)/2
            price_regular.append(newel)
    else:
        price_regular.append(el)

could not convert string to float: '$'
 $8.00 - $12.00
could not convert string to float: '$'
 $24.00 - $26.00
could not convert string to float: '$'
 $15.00 - $16.00
could not convert string to float: '$'
 $20.00 - $26.00
could not convert string to float: '$'
 $14.00 - $18.00
could not convert string to float: '$'
 $16.00 - $18.00
could not convert string to float: '$'
 $16.00 - $18.00
could not convert string to float: '$'
 $16.00 - $26.00

In [160]:
price_regular = pd.Series(price_regular).str.replace('$', '').astype(float)

In [161]:
kohls.drop('regular_price', axis=1, inplace=True)

In [162]:
kohls = pd.concat([kohls, price_regular.rename('regular_price')], axis=1)

In [163]:
kohls.head()

,product_name,sale_price,regular_price
0,LC Lauren Conrad Pave Monogram ... Pendant Nec...,9.8,14.0
1,Spiral Christmas Tree Nickel ... Free Drop Ear...,5.4,12.0
2,"Christmas Gift, Santa, ... Reindeer & Jingle B...",6.3,14.0
3,LC Lauren Conrad Filigree ... Teardrop Layered...,12.6,18.0
4,Simulated Crystal Snowflake ... Nickel Free Dr...,6.3,14.0

In [164]:
kohls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3409 entries, 0 to 3408
Data columns (total 3 columns):
product_name     3409 non-null object
sale_price       3409 non-null float64
regular_price    3401 non-null float64
dtypes: float64(2), object(1)
memory usage: 80.0+ KB

In [ ]:
#converting names to lowercase

In [166]:
kohls.product_name = kohls.product_name.str.lower()

In [167]:
kohls.head()

,product_name,sale_price,regular_price
0,lc lauren conrad pave monogram ... pendant nec...,9.8,14.0
1,spiral christmas tree nickel ... free drop ear...,5.4,12.0
2,"christmas gift, santa, ... reindeer & jingle b...",6.3,14.0
3,lc lauren conrad filigree ... teardrop layered...,12.6,18.0
4,simulated crystal snowflake ... nickel free dr...,6.3,14.0

In [178]:
#appending category column
#from ipywidgets import IntProgress
#from IPython.display import display
import time

category = []
#f = IntProgress(min=0, max=len(kohls['product_name'])) # instantiate the bar
#display(f) # display the bar

i=0

while i < len(kohls['product_name']):
    
    el = kohls.iloc[i,0]
    
    if bool(re.search(".*(ear).*" , el)) == True:
        category.append('earring')
    elif bool(re.search(".*(necklace).*" , el)) == True:
        category.append('necklace')
    elif bool(re.search(".*(bracelet).*" , el)) == True:
        category.append('bracelet')
    elif bool(re.search(".*(ring).*" , el)) == True:
        category.append('ring')
    elif bool(re.search(".*(anklet).*" , el)) == True:
        category.append('anklet')
    elif bool(re.search(".*(pin).*" , el)) == True:
        category.append('pin')
    elif bool(re.search(".*(set).*" , el)) == True:
        category.append('set')
    elif bool(re.search(".*(kit).*" , el)) == True:
        category.append('kit')
    else:
        category.append('other')
        
  #  f.value += 1 # signal to increment the progress bar
        
    i+=1

In [179]:
category = pd.Series(category)

In [182]:
kohls = pd.concat([kohls, category.rename('category')], axis=1)

In [183]:
kohls.head()

,product_name,sale_price,regular_price,category
0,lc lauren conrad pave monogram ... pendant nec...,9.8,14.0,necklace
1,spiral christmas tree nickel ... free drop ear...,5.4,12.0,earring
2,"christmas gift, santa, ... reindeer & jingle b...",6.3,14.0,bracelet
3,lc lauren conrad filigree ... teardrop layered...,12.6,18.0,earring
4,simulated crystal snowflake ... nickel free dr...,6.3,14.0,earring

Exporting to cleaned CSV:

In [184]:
kohls.to_csv('CleanKohls.csv')