Reading dataset

In [342]:
import pandas as pd
data = pd.read_csv('cleanedUSJH.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [289]:
data.head()

,Unnamed: 0,name,financial_status,paid_at,fulfillment_status,accepts_marketing,currency,subtotal,shipping,taxes,...,shipping_country,notes,cancelled,payment_method,refunded_amount,vendor,risk_level,source,color,category
0,0,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,us,nonotes,1,shopify payments,0.0,us jewelry house,low,web,gdtq,ring
1,1,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,us,nonotes,1,shopify payments,0.0,us jewelry house,low,web,gdtq,ring
2,2,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,us,nonotes,1,shopify payments,0.0,impression,low,web,size 8,ring
3,3,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,us,nonotes,1,shopify payments,0.0,ella,low,web,brown,necklace
4,4,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,us,nonotes,1,shopify payments,0.0,stylist,low,web,white/brown,bracelet

In [318]:
len(data)

85925

In [343]:
name = data.lineitem_name.tolist()

Categorizing according to appearance of keywords

In [344]:
for i, word in enumerate(name):
    if 'necklace' in word or 'pendant' in word or 'choker' in word or 'collar' in word or 'neckalce' in word:
        name[i] = 'necklace' 
    elif 'ear' in word or 'stud' in word or 'hoop' in word or 'clip' in word or 'drop' in word:
        name[i] = 'earring'
    elif 'bag' in word or 'scarf' in word or 'hat' in word or 'poncho' in word or 'glove' in word or 'backpack' in word or 'cap' in word or 'fanny' in word or 'kimono' in word or 'tiara' in word or 'headband' in word or 'sunglasses' in word or 'clutch' in word or 'purse' in word or 'vest' in word or 'fur' in word or 'cardigan' in word or 'oblong' in word:
        name[i] = 'apparel'
    elif 'ring' in word:
        name[i] = 'ring'
    elif 'bracelet' in word or 'cuff' in word or 'barcelet' in word or 'bangle' in word:
        name[i] = 'bracelet'
    elif 'bag' in word or 'key' in word or 'chain' in word or 'anklet' in word or 'pin' in word or 'brooch' in word or 'wallet' in word or 'cuff' in word or 'comb' in word or 'hair' in word or 'tassel' in word or 'pompom' in word or 'hook' in word or 'bead' in word:
        name[i] = 'accessories'
    else:
        name[i] = 'other'

In [345]:
category = pd.Series(name)

In [346]:
data = pd.concat([data, category.rename('category1')], axis=1)

In [307]:
data.head()

,Unnamed: 0,name,financial_status,paid_at,fulfillment_status,accepts_marketing,currency,subtotal,shipping,taxes,...,notes,cancelled,payment_method,refunded_amount,vendor,risk_level,source,color,category,category1
0,0,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,nonotes,1,shopify payments,0.0,us jewelry house,low,web,gdtq,ring,necklace
1,1,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,nonotes,1,shopify payments,0.0,us jewelry house,low,web,gdtq,ring,necklace
2,2,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,nonotes,1,shopify payments,0.0,impression,low,web,size 8,ring,necklace
3,3,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,nonotes,1,shopify payments,0.0,ella,low,web,brown,necklace,necklace
4,4,#4746,paid,2018-07-16 12:31:00,unfulfilled,yes,usd,100.5,13.64,0.0,...,nonotes,1,shopify payments,0.0,stylist,low,web,white/brown,bracelet,necklace

Replacing previously used category column w more refined category column

In [347]:
data.drop('category', axis=1, inplace=True)

In [348]:
data.columns = data.columns.str.replace('category1', 'category')

In [336]:
data.columns

Index(['Unnamed: 0', 'name', 'financial_status', 'paid_at',
       'fulfillment_status', 'accepts_marketing', 'currency', 'subtotal',
       'shipping', 'taxes', 'total', 'discount_code', 'discount_amount',
       'shipping_method', 'created_at', 'lineitem_quantity', 'lineitem_name',
       'lineitem_price', 'lineitem_compare_at_price', 'lineitem_sku',
       'lineitem_fulfillment_status', 'shipping_street', 'shipping_address1',
       'shipping_company', 'shipping_city', 'shipping_zip',
       'shipping_province', 'shipping_country', 'notes', 'cancelled',
       'payment_method', 'refunded_amount', 'vendor', 'risk_level', 'source',
       'color', 'category'],
      dtype='object')

Dropping financial status pending according to William's suggestions

In [354]:
data = data[data['financial_status'] != 'pending']

In [355]:
len(data)

83509

Exporting final dataset

In [356]:
data.to_csv('finalUSJH.csv')

In [357]:
data.shape

(83509, 37)

In [358]:
import pickle

In [359]:
data.to_pickle('USJH.pkl')

In [2]:
import pandas as pd
temp = pd.read_pickle('USJH.pkl')

In [3]:
temp.category.value_counts()

earring        34861
necklace       30837
bracelet       10226
apparel         3574
ring            1839
accessories     1439
other            733
Name: category, dtype: int64